body {
    background-image: url('img/black.jpg');
    /*background: #FF6347;*/
    background-size: 50%;
}
.page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.container {
    position: relative;
    background: #D3D3D3;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 70px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
h1 img {
    max-width: 90%;
}


